*,
*::after,
*::before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body,
#__nuxt,
#__layout {
  height: 100%;
}

body {
  background-color: var(--color-background);
}
