:root {
  --color-background: #eaf7ff;
  --color-surface: #ffffff;
  --color-surface-alt: #eaf7ff;

  --color-sidebar-bg: #e5eeff;
  --color-sidebar-tx: #000f37; /* Se mantiene igual */
  --color-sidebar-hover: #102445;


  --color-text-primary: #2b2b2b;
  --color-text-secondary: #555555;
  --color-primary: #000f37;
  --color-accent: #007bff;

  --color-border: #dde4ec;
}

.dark {
  --color-background: #0b121d;
  --color-surface: #1e2733;
  --color-surface-alt: #233040;

  --color-sidebar-bg: #000f37;
  --color-sidebar-tx: #ededed;
  --color-sidebar-hover: #eaf7ff;

  --color-text-primary: #ededed;
  --color-text-secondary: #a0a0a0;
  --color-primary: #8cb4ff;
  --color-accent: #4f9cff;

  --color-border: #2e3b4c;
}
